/* LAYOUT */

#app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F8F9FA;
}


/* HEADER */

.app_header{
    height: 70px;
    display: flex;
    align-items: center;
}

.container_header{
    background-color: white;
}

.logo_mobile{
    width: 50px;
}

.logo_tablet{
    height: 50px;
    padding: 10px;
}

.app_header_searchbar{
    position: relative;

}

.input_searchbar{
    height: 40px;
    width: 100%;
    background-color: #E5E5E5;
    border: none;
    border-radius: 10px;
    padding: 0 50px;
}

.search-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    pointer-events: none;
}


/* MAIN */


/* Side Bar */

.side_bar{
    width: 70px;
    flex-shrink: 0;
    background-color: #051E34;
    background-image: url(../img/sidebar-bg.png);
    
}

.logo_description{
    display: none;
}


/* App Bar */

.app_bar .new_student_section{
    height: 265px;
    background-color: #1B72E8;
}

.plus_icon{
    font-size: 12px;
}

.custom_badge{
    background-color: #165BBA;
    padding: 6px 10px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 700;
   
}


/* Tablet Version */

@media (min-width: 768px){

    /* MAIN App Bar */
   
    .app_bar .new_student{
        height: 135px;
        
    }

}







/* Desktop Version */

@media (min-width: 992px){


    /* HEADER */

    .header_list{
        gap: 24px;
    }


    /* MAIN Side Bar */

    .side_bar{
        width: 150px;
    }

    .logo_description{
        display: inline-block;
    }
    

    /* MAIN App Bar */
   
    .app_bar .new_student{
        height: 125px;
        
    }

}










/* DEBUG */



