/* LAYOUT */

#app{
    height: 100vh;
    display: flex;
    flex-direction: column;
}


/* HEADER */

.app_header{
    height: 70px;
    display: flex;
    align-items: center;
}

.app_header_searchbar{
    position: relative;

}

.search-icon{
    position: absolute;
    top: 15px;
    transform: translateY(-50%);
    left: 18px;
    pointer-events: none;
}


/* MAIN */


/* Side Bar */

.side_bar{
    width: 70px;
    flex-shrink: 0;
}

.logo_description{
    display: none;
}


/* App Bar */

.app_bar .new_student{
    height: 265px;
    background-color: #1B72E8;
}





/* Tablet Version */

@media (min-width: 768px){

    /* MAIN App Bar */
   
    .app_bar .new_student{
        height: 135px;
        
    }

}







/* Desktop Version */

@media (min-width: 992px){

    /* MAIN Side Bar */

    .side_bar{
        width: 150px;
    }

    .logo_description{
        display: inline-block;
    }
    

    /* MAIN App Bar */
   
    .app_bar .new_student{
        height: 125px;
        
    }

}










/* DEBUG */

.debug .side_bar{
    background-color: blue;
}

.debug .app_bar{
    background-color: rgb(255, 225, 127);
}